<header>
    <div class = "container">
        <h1><button type="button"><a href = "indexpro.html">Planvel</a></button></h1>
        <nav>
        <ul>
            <li>
                <button><a href = "calendar.html">캘린더</a></button>
            </li>
            <li>
                <button><a href = "weather.html">날씨</a></button>
            </li>
            <li>
                <button><a href = "exchange.html">환율</a></button>
            </li>
            <li>
                <button><a href = "review.html">후기</a></button>
            </li>
            <li>
                <button type="button" class="btn btn-secondary"><a href = "login.html">Login</a></button>
            </li>
        </ul>
        </nav>
        </div>
        
</header>