<header>
    <div class = "container">
        <h1><a href = "indexpro.html" role="button">Planvel</a></h1>
        <nav>
        <ul class="menu">
            <li class="menu-item">
                <a href = "calendar.html" role = "button">계획</a>
            </li>
            <li class="menu-item">
                <a href = "search.html" role="button">여행지 검색</a>
            </li>
            <li class="menu-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    MY
                  </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href ="review.html" role="button">후기 관리</a></li>
                    <li><a href="map.html" role="button">다녀온 곳</a></li>
                </ul>
              </li>
            <li class="menu-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ETC
                  </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a href="weather.html" role="button">날씨 확인</a></li>
                  <li><a href="exchange.html" role="button">환율 확인</a></li>
                </ul>
              </li>
            <li>
                <button type="button" class="btn btn-secondary"><a href = "login.html">Login</a></button>
            </li>
        </ul>
        </nav>
        </div>
        
</header>