<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행 웹사이트 로그인</title>
    <link rel="stylesheet" href="styles.css">

    
</head>
<body>
    <div id = "header"></div>

    <div class = "login-container">
        <h1>Login</h1>
        <form class = "loginForm", id = "loginForm">
            <div class = "input-group">
            <label for="username">ID</label>
            <input type="text" id="username" name="username" placeholder="Username">
            <label for="password">PASSWORD</label>
            <input type="password" id="password" name="password" placeholder="Password">
            </div>
        <button type="submit">Login</button>
        </form>
    </div>
    


    <script>
        document.getElementById('loginForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Login');
                    // 로그인 성공 후 리다이렉트
                    window.location.href = '/dashboard';
                } else {
                    alert('Error: ' + data.message);
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <div id="footer-container"></div>

    </body>
    <script>
        fetch('header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header').innerHTML = data;
            });
    </script>

<script>
    fetch('footer.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        });
</script>
</html>